/*  Page Layout  */
html{ Margin: 0; Padding: 6.5REM 0 0; Color: #1F1A14; Background: #FAF8F7; Tab-Size: 5 }
body{ Margin: Auto; Padding: 6.5REM 6REM 11REM; Max-Width: 43REM }

/*  Headers  */
body>header:First-Of-Type{ Display: Flex; Position: Absolute; Align-Items: Center; Top: 0; Left: 0; Right: 0; Border-Style: None Solid; Border-Color: Transparent; Border-Width: 4REM; Padding: 1.5REM Calc(50VW - 27.5REM); Height: 6.5REM; Color: #FAF8F7; Background: #302F2B }
body>header:First-Of-Type>*{ Display: Inline-Block; Margin-Right: 1REM }
body>header:First-Of-Type>*:First-Child{ Font-Size: 2.5REM; Line-Height: 1.4 }
body>header:First-Of-Type>*:First-Child+nav{ Margin: 0 0 0 Auto }
body>header:First-Of-Type strong { Font-Style: Italic; Font-Weight: Inherit }
body>header:First-Of-Type *|*:Any-Link{ Color: Inherit; Text-Decoration: None }
body>header *|*:Any-Link:Hover { Color: Inherit; Text-Decoration: Underline }

/* Blocky Things */
aside{ Display: Flow-Root; Margin: .5REM 0; Padding: .5REM 3REM; Color: #57534C; Background: Linear-Gradient(To Bottom, #50D9523F, #50D9523F), #FAF8F7 }
aside:Target{ Margin: .5REM 0; Padding: .5REM 3REM }
dl aside{ Background-Image: Linear-Gradient(To Bottom, #4B2DF73F, #4B2DF73F) }
blockquote,
div[role=note],
dl{ Display: Flow-Root; Margin: 1REM -2REM 1REM Calc(-2REM - 5PX); Border-Left: 5PX Solid; Padding: 0 3REM }
blockquote:Target,
div[role=note]:Target,
dl:Target,
pre:Target{ Border-Color: #EB9100; Outline: None; Box-Shadow: 5PX 3PX #FAE13E }
blockquote:Target,
div[role=note]:Target,
dl:Target{ Margin: 1REM -2REM 1REM Calc(-2REM - 5PX); Padding: 0 3REM }
aside blockquote:First-Child,
aside dl:First-Child,
aside div[role=note]:First-Child,
aside pre:First-Child{ Margin-Top: 0 }
aside blockquote:Last-Child,
aside dl:Last-Child,
aside div[role=note]:Last-Child,
aside pre:Last-Child{ Margin-Bottom: 0 }
blockquote{ Border-Color: #1AACEB; Color: #1F1A14; Background: Linear-Gradient(To Bottom, #1AACEB3F, #1AACEB3F), #FAF8F7; Font-Style: Italic }
blockquote.PULL{ Margin-Top: 2REM; Margin-Bottom: 2REM; Font-Size: Larger; Text-Align: Center }
blockquote blockquote{ Margin-Left: Calc(-2REM - 3PX); Border-Left-Width: 3PX }
blockquote blockquote blockquote{ Font-Size: Small }
div[role="note"]{ Border-Color: #F56E97; Color: #302F2B; Background: Linear-Gradient(To Bottom, #F56E973F, #F56E973F), #FAF8F7 }
dl{ Border-Color: #EB9100; Color: #302F2B; Background: Linear-Gradient(To Bottom, #EB91003F, #EB91003F), #FAF8F7 }
aside dl{ Display: Block; Margin-Left: 0; Margin-Right: 0; Border: None; Padding: 0; Color: Inherit; Background: None }
aside dl:Target{ Margin: -3PX; Border: None; Padding: 3PX; Box-Shadow: 3PX 2PX #FAE13E }
pre{ Margin: 1EM -2EM 1EM Calc(-1EM - 5PX); Border-Style: Solid; Border-Color: #4B2DF7; Border-Width: Thin Thin Thin 5PX; Padding: .5EM 1EM; Color: #1F1A14; Background: Linear-Gradient(To Bottom, #4B2DF73F, #4B2DF73F), #FAF8F7; Font-Size: .84REM; Line-Height: 1; White-Space: Pre-Wrap }
pre:Target{ Margin: 1EM -2EM 1EM Calc(-1EM - 5PX); Padding: .5EM 1EM }

/*  Tables  */
table{ Margin-Left: Auto; Margin-Right: Auto; Border: Thin #302F2B Solid; Border-Collapse: Collapse; Background: #FAF8F7 }
table:Target { Margin-Top: Revert; Margin-Bottom: Revert; Margin-Left: Auto; Margin-Right: Auto; Padding: 0 }
dd table,
dt table,
li table{ Width: 100% }
th,
td{ Box-Sizing: Border-Box; Border: Thin #302F2B Solid; Padding: .25EM .125EM; Min-Width: 4EM }
th:Target,
td:Target{ Margin: 0; Padding: .25EM .125EM }
th{ Font-Weight: Bold }
tfoot{ Color: #302F2B; Background: Linear-Gradient(To Bottom, #50D9523F, #50D9523F), #FAF8F7 }
thead{ Color: #1F1A14; Background: Linear-Gradient(To Bottom, #B8B3B03F, #B8B3B03F), #FAF8F7 }

/* Lists */
ol,
ul{ Padding-Left: 2EM }
ol:Target,
ul:Target{ Margin: Revert; Padding: Revert }
*[role=navigation] ul,
nav ul{ List-Style-Type: None }

/* Definition Lists */
dt{ Margin: 1EM 0 0; Font-Weight: Bold }
dt:Target{ Margin: Calc(1EM - 3PX) -3PX -3PX }
dt+dt{ Margin-Top: 0 }
aside dt{ Display: Inline; Margin: 0; Color: #1F1A14 }
aside dt:Target{ Margin: -3PX }
aside dt:First-Child::before{ Content: "☞ " }
aside dd+dt::before{ Content: "☞ " }
aside dt+dt::before{ Content: " , "}
aside dt+dd::before{ Content: " : " }
dd,
aside dd+dd{ Display: List-Item; Margin: 0 0 0 2EM; Padding: 0 }
dd:Target,
aside dd+dd:Target{ Margin: -3PX -3PX -3PX Calc(2EM - 3PX) }
aside dd{ Display: Inline; Margin: 0 }
aside dd:Target{ Margin: -3PX }
aside dd:Not(:Last-Child)::after{ Display: Block; Margin: 0 0 1EM; Content: "" }
aside dd+dd::before{ Display: Block; Margin: -1EM 0 0; Content: "" }
dd:Last-Child{ Margin-Bottom: 1EM }
dd:Last-Child:Target{ Margin-Bottom: Calc(1EM - 3PX) }
aside dd:Last-Child{ Margin-Bottom: 0 }
aside dd:Last-Child:Target{ Margin-Bottom: -3PX }
dd>p{ Margin: 0 }
dd>p+p{ Text-Indent: 2EM }
dd>p+p>*{ Text-Indent: 0 }

/*  Other Blocks  */
h1,
h2,
h3,
h4,
h5,
h6{ Color: #302F2B }
h5{ Text-Transform: Uppercase }
h1:Target,
h2:Target,
h3:Target,
h4:Target,
h5:Target,
h6:Target,
p:Target{ Margin: Revert; Padding: Revert }

/*  Text Styles  */
*|*:Link{ Color: #4B2DF7 }
*|*:Link:Hover{ Color: #4B2DF7BF }
*|*:Link:Active{ Color: #B01C1C }
*|*:Visited{ Color: #4B2DF7BF }
*|*:Visited:Hover{ Color: #4B2DF79F }
*|*:Visited:Active{ Color: #B01C1CBF }
*|*:Target{ Margin: -3PX; Padding: 3PX; Outline: 1PX #1F1A14 Solid; Outline-Offset: -1PX; Color: #1F1A14; Background: Linear-Gradient(To Bottom, #FAE13E3F, #FAE13E3F), #FAF8F7; Box-Shadow: 3PX 2PX #FAE13E }
code{ Padding: .12EM; Outline: 1PX #57534C Solid; Outline-Offset: -1PX; Color: #302F2B; Background: Linear-Gradient(To Bottom, #B8B3B03F, #B8B3B03F), #FAF8F7; Font-Size: .84REM; Line-Height: 1 }
code:Target{ Padding: .12EM }
*|*:Link code,
*|*:Visited code{ Color: Inherit }
pre>code:Only-Child{ Padding: 0; Outline: None; Font: Inherit; Color: Inherit; Background: None }
del{ Color: #D15919; Text-Decoration: Line-Through }
dfn{ Font-Weight: Bold }
ins{ Color: #1AACEB; Text-Decoration: Underline }
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong{ Font-Style: Italic }
var{ Font-Weight: Bold }
